  <body class="text-center">
  </header>
  <div class= row>
  	<section class="col-lg-6">
  		<div class="subject">
  			<%= form_tag("/cv1", method: "get") do %>
  		<div><%= label_tag(:mail, "Email:") %></div>
  		<div><%= email_field_tag(:mail) %></div>
  		<div><%= submit_tag("Recevoir mon cv") %></div>
  			<% end %>
  		</div>
  	</section>
  </div>
</body>