  <body class="text-center">
  </header>
  <div class= row>
  	<section class="col-lg-6">
  		<div class="subject">
  			<h1 class="cover-heading">La demande a bien été prise en compte</h1>
  			<p class="lead">le mail a bien été envoyé à l'adresse <%= params[:mail] %>.</p>
  			<p class="lead">
  			</p>
  		</div>
  	</section>
  </div>
</body>