// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: image-url('fond.jpeg') no-repeat ;

}

section {
	width: 300px ;
	margin-left: 50px;
	margin-top: 600px;
	text-align: justify; 
}

footer {
	position: absolute ;
 	width:100%;
 	text-align: center;
 	bottom: 0
}
